:root {
    --animationSpeed: 0.2s;
}
body {
    background-color: ivory;
}

.myNav {
    background-color: red;

}

.center {
    display: flex;
    justify-content: center;
}

.gameSquare {
    display: flex;
    justify-content: center;
    background-color: orange;

}

.tileContainer {
    display: flex;
    position: relative;
    background-color: yellow;
    height: 55vh;
    width: 55vh;
    margin: auto;
}

.tile {
    display: block;
    position: absolute;
    background-color: lime;
    height: calc(100%/3);
    width: calc(100%/3);
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    -webkit-transition: all var(--animationSpeed) ease;
    -moz-transition: all var(--animationSpeed) ease;
    -o-transition: all var(--animationSpeed) ease;
    transition: all var(--animationSpeed) ease;
}

.blankTile {
    visibility: hidden;
}

.p0 {
    top: 0;
    left: 0%;
}

.p1 {
    top: 0;
    left: calc(100%/3);
}

.p2 {
    top: 0;
    left: calc(100%*2/3);
}

.p3 {
    top: calc(100%/3);
    left: 0;
}

.p4 {
    top: calc(100%/3);
    left: calc(100%/3);
}

.p5 {
    top: calc(100%/3);
    left: calc(100%*2/3);
}

.p6 {
    top: calc(100%*2/3);
    left: 0;
}

.p7 {
    top: calc(100%*2/3);
    left: calc(100%/3);
}

.p8 {
    top: calc(100%*2/3);
    left: calc(100%*2/3);
}

.gameButtons {
    display: flex;
    justify-content: center;
}